/* colors
	blue: #76A5CC
	red: #FFB0AD
	yellow: #FCFFB0
*/    
body{
	padding-top: 40px;
}

.masthead{
	padding-bottom: 40px;
}

.announce{
	background: #76A5CC;
}

.announce h1{
	font-size: 800%;
}

.announce h3 {
font-size: 200%;
padding: 20px 10px;
}

.location {
	position: relative;
	background: #FCFFB0;
}

.location .inner {
	position: absolute;
}

.location h2 {
}

.presented{
	margin-top: 50px;
}
.navbar .brand {
	padding-left: 50px;
}