    
body{
	padding-top: 40px;
}

.masthead{
	margin-top: 30px;
	}

.masthead h1{
	font-size: 500%;
}

.row {
padding-top: 20px;
}

.announce h1{
	font-size: 800%;
}

.announce h3 {
font-size: 200%;
padding: 20px 10px;
}

.location {
	position: relative:
}

.location .inner {
	position: absolute;
	bottom: -50px;
}

.location h2 {
}

.presented{
	
}
.navbar .brand {
	padding-left: 50px;
}