/* colors
	blue: #76A5CC
	red: #FFB0AD
	yellow: #FCFFB0
*/    
body{
	padding-top: 40px;
}

.masthead{
	background-color: #B9F086;
	background-image: url(./images/wheat.png);
	background-repeat: no-repeat;
	background-position: 60px 50px;
	padding-bottom: 40px;
	min-height: 450px;
}

.masthead h1, .masthead h2, .masthead h3{
	padding-left: 20px;
	font-family: 'Sintony', sans-serif;

}

.announce{
	padding-bottom: 40px;
	color: #222;
	padding-left: 40%;
	padding-top: 100px;
}

.announce h1{
	font-size: 700%;
}

.announce h3 {
font-size: 200%;
padding: 20px 20px;
}

.presented{
	margin-top: 60px;
}

 .prizes{
	margin-top: 80px;
}

.presented h1 {
	margin-bottom: 60px;
}
.navbar .brand {
	padding-left: 50px;
}
 
.add-top{
	margin-top: 80px;
}
 
.carousel-caption2{
	margin-left: 450px;
}