---
  locale: "en"
---
{%include head.html %}

    <!-- NAVBAR
    ================================================== -->
    

              {% include navbar.html %}

    

    <!-- Carousel - but not using at the moment
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="item active">
			<img src="./images/rosy.png" />
			<div class="container">
				<div class="carousel-caption carousel-caption2">
				<h1>Let's Hack for Food!</h1>
				<p class="lead">Join us on June 1st to participate in the National Day of Civic Hacking!</p>
				<a class="btn btn-large btn-primary" href="./hackathon.html">Learn More About the Hackathon!</a>
				</div>
			</div>
		</div>
      </div>
	  <div class="carousel-inner">
        <div class="item">
          <img src="{{ site.content.banner }}">
          <div class="container">
            <div class="carousel-caption">
              {% include carousel-caption.html %}
            </div>
          </div>
        </div>
		
	   <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% include info-columns.html %}
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

 <hr class="featurette-divider">

  {% include projects.html %}

  <hr class="featurette-divider">

  {% include help-your-city.html %}
      
      <hr class="featurette-divider">

      {% include meetups.html %}

      <hr class="featurette-divider">

      {% include discussion.html %}

      <hr class="featurette-divider">

      {% include contact.html %}

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        {% include footer.html %}
      </footer>

    </div><!-- /.container -->

  <script>
      !function ($) {
        $(function(){
\          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
	
  </body>
</html>
