      <div class="featurette">
        <img class="featurette-image pull-left" src="images/noun_project_756_citizen.png">
        <h2 class="featurette-heading">Works In Progress</h2>
        <p class="lead">
          <!--<ul class="lead">
            {% for item in site.content.projects %}
            <li>{{ item.content }}</li>
            {% endfor %}-->
          <ul>
          	<li><span class="lead"> The Budget App: Access Asheville</span>
          		<ul>
          			<li><a href="https://trello.com/board/look-at-asheville/511aa7b473f4346f5f0009c5">The To-Do list</a></li>
          			<li><a href="https://github.com/openAsheville/look-at-asheville">Github</a></li>
          			<li><a href="http://openasheville.github.com/look-at-asheville/">The App in action!</a></li>
          		</ul>
          	</li>
          
          	<li><span class="lead">The National Day of Civic Hacking and the Food App</span>
          		<ul>
          			<li><a href="https://trello.com/board/hackforfood/51258cbe262a807a52003e70">The To-Do list</a></li>
          		</ul>
          	</li>
          </ul>
        </p>
      </div>
